@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  @font-face {
    font-family: "Patua";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/Patua_One/PatuaOne-Regular.ttf);
  }
}

.sidebar-bg {
  background: url("./assets/images/bg-menu.webp");
  background-repeat: no-repeat;
}
@media (max-width: 900px) {
  .sidebar-bg {
    background-size: cover;
    background-position: bottom right;
  }
}

.about-bg {
  background: url("./assets/images/bg-about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
}

.zoom-animation {
  animation: zoom 4500ms ease-in-out infinite both alternate;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.bg-carousel-title {
  background: linear-gradient(
    90deg,
    #009133ee 33%,
    #e0e0e0ee 33% 66%,
    #e00016e5 66%
  );
  text-shadow: 2px 2px 3px black;
  padding: 7px 17px;
  border-radius: 8px 8px 0 0;
  /* background-clip: text;
  color: transparent; */
}
